@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.App{
    height:100vh;
    width: 100vw;
    background-color: #2f74c0;
    font-family: 'Redressed', cursive;
}
.heading{
    z-index: 1;
}
